.front {
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
}
.back {
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
}

.card {
  position: relative;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
